In [2]:
import pandas as pd
import numpy as np

# Initialization

Create the base network as a matrix of costs, where a cost of NaN represents a non-adjacent node and a cost of 0 represents cost to the same node

In [3]:
network = pd.DataFrame(
    [[np.nan,5,1,np.nan,np.nan,np.nan],
     [np.nan,np.nan,4,6,np.nan,np.nan],
     [np.nan,np.nan,np.nan,7,2,np.nan],
     [np.nan,np.nan,np.nan,np.nan,np.nan,2],
     [np.nan,1,np.nan,3,np.nan,8],
     [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]])

In [4]:
display(network)

    0    1    2    3    4    5
0 NaN  5.0  1.0  NaN  NaN  NaN
1 NaN  NaN  4.0  6.0  NaN  NaN
2 NaN  NaN  NaN  7.0  2.0  NaN
3 NaN  NaN  NaN  NaN  NaN  2.0
4 NaN  1.0  NaN  3.0  NaN  8.0
5 NaN  NaN  NaN  NaN  NaN  NaN

In [5]:
# Initialize the temporary and permanent labels for optimal costs
permanent = pd.Series([0,np.nan,np.nan,np.nan,np.nan,np.nan])
temp = network.iloc[0]

In [ ]:
previous_permanent_node_index = 0

new_node_costs = network.iloc[previous_permanent_node_index] + permanent[previous_permanent_node_index]
print(new_node_costs)

print(temp)
# find min between new node costs and temporary, call it calc_costs
calc_costs = pd.Series(np.nan, index = np.arange(len(temp)))
for i in range(len(calc_costs)):
  calc_costs[i] = min(new_node_costs[i],temp[i])
print(calc_costs)

# find min of the calc_costs and the associated node, make the node
# and the cost permanent
np.nanmin(calc_costs)
# new_perm_node =
# print(new_perm_node)

0    NaN
1    5.0
2    1.0
3    NaN
4    NaN
5    NaN
Name: 0, dtype: float64
0    NaN
1    5.0
2    1.0
3    NaN
4    NaN
5    NaN
Name: 0, dtype: float64

In [ ]:
# previous_permanent_node_index = 0

# # keep iterating if there is a permanent value not found yet
# while permanent.isnull().values.any():

#   # # for each node that's still temporary, compare cost of temporary vs.
#   # # previously found permanent value + arc  cost to that temporary node
#   # for ending_node in np.argwhere(np.isnan(permanent)):

#     # find permanent value + arc  cost to that temporary node
#     new_node_costs = network.iloc[previous_permanent_node_index] + permanent[previous_permanent_node_index]
#     print(new_node_costs)

#     print(temp)
#     # find min between new node costs and temporary, call it calc_costs
#     calc_costs = pd.Series(np.nan, index = np.arange(len(temp)))
#     for i in range(len(calc_costs)):
#       calc_costs[i] = min(new_node_costs[i],temp[i])
#     print(calc_costs)

#     # find min of the calc_costs and the associated node, make the node
#     # and the cost permanent